<$# ShipShape  >  views  >  game  >  new                                      $>
<$#     Starts a new game and provides options for gameplay.                  $>

<$- include('../header', { title: "New Game" }); $>

<form action='/game' method='post'>
	<div class='shp-card shp-card--centered'>
		<header class='shp-card__header shp-card__header--outlined'>
			<i class='shp-card__icon material-icons'>map</i>
			<span class='shp-card__title'>Map selection</span>
		</header>
		<main>
			<div class='shp-id-input input-field'>
				<span id='shp-game-new__map-id-persistent-placeholder' class='shp-id-input__placeholder'>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<input type='text' placeholder="XXXX XXXX" id='shp-game-new__map-id-input' name='map-id' class='shp-id-input__input shp--monospace-fonts active <$ if ('map-id' in errors) { $> invalid <$ } $>' style='text-transform: uppercase;' autocomplete='off' autocorrect='off' autocapitalize='characters' spellcheck='false' />
				<label for='map-id'>Map ID</label>
			</div>
			<$ if ('map-id' in errors) { $>
				<p class='shp--error'>
					<$= errors['map-id'] $>
				</p>
			<$ } $>
		</main>
	</div>

	<div class='shp-card'>
		<header class='shp-card__header shp-card__header--outlined'>
			<i class='shp-card__icon material-icons'>settings</i>
			<span class='shp-card__title'>Game options</span>
		</header>
		<main class='mdl-grid'>
			<div class='mdl-cell mdl-cell--4-col shp-game-options__input shp-select input-field'>
				<select id='shp-game-new__multiplayer-mode-select' name='multiplayer-mode'>
					<option value='unlisted' selected>Unlisted</option>
				</select>
				<label for='multiplayer-mode'>Multiplayer mode</label>
			</div>
			<aside class='mdl-cell mdl-cell--4-col mdl-cell--8-col-desktop'>
				<p>
					The <b>multiplayer mode</b> determines if the game is
					multiplayer and, if so, how other players join and play the
					game.
				</p>
				<p class='shp-game-new__multiplayer-mode-description' data-multiplayer-mode='unlisted'>
					Only players with the game ID can join <b>unlisted</b>
					games.
				</p>
			</aside>
		</main>
	</div>

	<div class='shp-button-set shp-button-set--right-aligned'>
		<$- helpers.button("Start game", { type: 'contained', raised: true, icon: 'play_arrow', classes: [ 'shp-button-set__button' ], attributes: { type: 'submit' } }); $>
	</div>
</form>

<$- include('../footer'); $>
