<$# ShipShape  >  views  >  index  >  index                                  $>
<$# 	The home page of the website.                                        $>

<$- include('../header', { title: "Home" }); $>

<div class="shp-maps mdl-grid">
	<$ for (let map of maps) { $>
		<div class="shp-map shp-card mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
			<span class="shp-map__id"><$= map._id $></span>
			<h3 class="shp-map__name"><$= map.name $></h3>
			<p class="shp-map__description"><$= map.description $></p>
		</div>
	<$ } $>
</div>

<$- include('../footer'); $>
