<$- include('../header', { title: "Credits" }); $>

<div class='shp-card'>
	<header class='shp-card__header shp-card__header--outlined'>
		<i class='shp-card__icon material-icons'>contacts</i>
		<span class='shp-card__title'>Credits</span>
	</header>
	
	<h2>Programming</h2>
	<ul class='browser-default'>
		<li>All programming was done by <a href='https://arm32x.github.io/'>ARM32</a>.</li>
		<li>ShipShape is open-source, licensed under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GNU GPL v3</a>.</li>
	</ul>
	
	<h3>Libraries</h3>
	<ul class='browser-default'>
		<li><a href='https://github.com/samthor/rippleJS'>rippleJS</a> by <a href='https://github.com/samthor'>samthor</a>.</li>
		<li><a href='https://animejs.com/'>anime.js</a>.</li>
		<li><a href='https://materializecss.com/'>Materialize</a>.</li>
		<li><a href='https://shopify.github.io/draggable/'>Draggable</a> by Shopify.</li>
		<li><a href='https://socket.io/'>Socket.IO</a>.</li>
	</ul>
	
	<h2>Artwork</h2>
	<ul class='browser-default'>
		<li>Water tile from “<a href='https://opengameart.org/content/tiny-16-basic/'>Tiny 16 tileset</a>” by <a href='https://opengameart.org/users/sharm'>Sharm</a>, licensed under <a href='https://creativecommons.org/licenses/by/3.0/'>CC-BY 3.0</a>.  Colors modified slightly.</li>
		<li>Battleships from “<a href='https://opengameart.org/content/naval-battle-assets-pack'>Naval Battle Assets Pack</a>” by <a href='https://opengameart.org/users/cougarmint'>Cougarmint</a>, licensed under <a href='https://creativecommons.org/licenses/by/3.0/'>CC-BY 3.0</a>.  Resized and outline added.</li>
		<li>“<a href='https://opengameart.org/content/explosion-3'>Explosion</a>” by <a href='https://opengameart.org/users/sogomn'>Sogomn</a>, public domain (<a href='https://creativecommons.org/publicdomain/zero/1.0/'>CC0</a>).  Resized.</li>
		<li>Burned debris tile from <a href='http://pixeldungeon.watabou.ru/'>Pixel Dungeon</a> by <a href='https://github.com/watabou'>Watabou</a>, licensed under the <a href='https://www.gnu.org/licenses/gpl-3.0.en.html'>GNU GPL v3</a>.  Modified to be on water.</li>
	</ul>
	
</div>

<$- include('../footer'); $>
