<$# ShipShape  >  views  >  index  >  index                                  $>
<$# 	The home page of the website.                                        $>

<$- include('../header', { title: "Home" }); $>

<div class='shp-maps shp-card'>
	<$ for (let category = 1; category <= 8; category++) { $>
		<section class='shp-map-category'>
			<h2 class='shp-map-category__name'>Test Category <$= category $></h2>
			<div class='shp-map-category__maps'>
				<$ for (let map = 1; map <= 8; map++) { $>
					<div class='shp-map'>
						<div class='shp-map__image'></div>
						<h4 class='shp-map__name'>Test Map <$= (category - 1) * 8 + map $></h4>
						<p class='shp-map__description'>
							This is a map to test the maps listing page of ShipShape.
						</p>
					</div>
				<$ } $>
			</div>
		</section>
	<$ } $>
</div>

<$- include('../footer'); $>
