<$- include('../header', { title: "Home" }); $>

<$ for (let index = 0; index < 32; index++) { $>
	<div class='shp-card'>
		<p>Hello, world!  This is a test for header scrolling.</p>
	</div>
<$ } $>

<$- include('../footer'); $>
