<$# ShipShape  >  views  >  index  >  test                                   $>
<$# 	This is a test page for the asynchronous page loader.                $>

<$- include('../header', { title: "Test" }); $>

<div class='shp-card'>
	<p>
		This is a test page for the asynchronous page loader.
	</p>
</div>

<$- include('../footer'); $>

