/// ShipShape  >  scss  >  typography
/// 	Handles basic font styling and typography on the website.


// Declare some font stacks for use in the website.
$body-text-fonts : 'Work Sans', 'IBM Plex Sans', 'Trebuchet MS', 'Arial', sans-serif;
$monospace-fonts : 'Space Mono', 'IBM Plex Mono', 'Cousine', 'Courier New', monospace;
$logo-text-fonts : 'Lobster Two', 'Lobster', $monospace-fonts;


// Convert from any unit to rem.  This should only be used for font sizes and
// line heights.
@function to-rem($value) {
	@return ($value / 16px) * 1rem;
}

// Disable margin for the first and last children.
@mixin first-and-last-child-no-margin() {
	&:first-child {
		margin-top: 0em;
	}
	&:last-child {
		margin-bottom: 0em;
	}
}

// Apply the fonts to various elements on the website, and add margins to them.

html {
	font: 100% $body-text-fonts;
	line-height: 1.15em;
	letter-spacing: 0.0175px;

	@at-root body {
		font-size: to-rem(14px);
	}
}

.shp-logo {
	margin: 0px;
	font: bold to-rem(64px) $logo-text-fonts;
	line-height: 1em;

	&.shp-logo--small {
		font-size: to-rem(24px);
	}
}

p {
	margin: 0.5em 0em;

	.shp-card & {
		@include first-and-last-child-no-margin();
	}
}

code {
	font-family: $monospace-fonts;
}


h1 {
	font: to-rem(40px) $logo-text-fonts;
	margin: 32px 0px 16px;
}

h2 {
	font: bold to-rem(32px) $logo-text-fonts;
	margin: 32px 0px 16px;
}
