/// ShipShape  >  scss  >  buttons
/// 	Style Material Design buttons.

@import 'colors';
@import 'easing';
@import 'elevation';
@import 'typography';


.shp-button {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	min-width: 64px;
	height: 36px;
	padding: 0px 24px;
	
	background-color: transparent;
	
	border: none;
	border-radius: 18px;
	outline: none;
	
	font: to-rem(14px) $body-text-fonts;
	line-height: 36px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;

	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: background-color 150ms $standard;

	user-select: none;
	&::selection {
		color: inherit;
		background-color: inherit;
	}
	
	color: $accent-color;
	&:not(:disabled):hover {
		background-color: rgba($accent-color, 0.20);
	}
	&.shp-button--light {
		color: $white-text-color-1;
		&:not(:disabled):hover {
			background-color: rgba($white-text-color-1, 0.20);
		}
	}
	&.shp-button--dark {
		color: $black-text-color-1;
		&:not(:disabled):hover {
			background-color: rgba($black-text-color-1, 0.20);
		}
	}

	&.shp-button--with-icon {
		padding-left: 56px;

		.shp-button__icon {
			position: absolute;
			top: 6px;
			left: 24px;
			width: 24px;
			height: 24px;
			color: inherit;
			font-size: 24px;	
		}
	}


	&.shp-button--outlined {
		box-shadow: inset 0px 0px 0px 1px $black-divider-color;
		&.shp-button--light {
			box-shadow: inset 0px 0px 0px 1px $white-divider-color;
		}
	}

	&.shp-button--contained {
		background-color: $accent-color;
		color: $white-text-color-1;
		&:not(:disabled):hover {
			background-color: mix(rgba($white-text-color-1, 1.00), $accent-color, 20%);
		}
		&.shp-button--light {
			color: $black-text-color-1;
			&:not(:disabled):hover {
				background-color: mix(rgba($black-text-color-1, 1.00), $accent-color, 20%);
			}
		}

		&.shp-button--raised {
			@include material-elevation(2);
			&:not(:disabled):hover {
				@include material-elevation(4);
			}
			transition: background-color 150ms $standard, box-shadow 150ms $standard;
		}
	}
	
	&:disabled {
		cursor: inherit;
		
		.rippleJS {
			display: none;
		}
	}
}

.shp-button-set {
	font-size: 0rem;
	
	margin: -4px 0px;
	
	.shp-button-set__button {
		margin: 4px 16px 4px 0px;
	}
	
	&.shp-button-set--right-aligned {
		text-align: right;
		
		.shp-button-set__button {
			margin: 4px 0px 4px 16px;
		}
	}
}
