/// ShipShape  >  scss  >  main
/// 	Style the main game page.

@import 'colors';
@import 'typography';

@mixin tile($x, $y) {
	background-position: $x * -32px $y * -32px;
}

.shp-game {
	display: block;
	
	background: {
		color: #111111;
		image: url('/res/images/header-texture-white.png');
		repeat: repeat;
	};
	
	overflow: hidden;
	
	body {
		display: grid;
		position: absolute;
		top: 0px;
		left: 0px;
		
		width: 100vw;
		height: 100vh;
		
		text-align: center;
		
		overflow: scroll;
		
		.shp-game__scrollbox {
			margin: auto;
		}
		
		&.pushed {
			cursor: grab;
		}
	}
}

.shp-game-board {
	table-layout: fixed;
	
	width: auto;
	
	margin: 0px 144px 144px 0px;
	
	border-collapse: collapse;
	border-spacing: 0px;
	
	.shp-game-board__tile {
		@include tile(0, 5);
		
		box-sizing: border-box;
		
		width: 32px;
		height: 32px;
		
		padding: 0px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		background-image: url('/res/images/tileset.png');
		background-size: 320px;
		image-rendering: pixelated;
		
		@for $y from 0 through 9 {
			@for $x from 0 through 9 {
				&.shp-game-board__tile--#{$x}-#{$y} {
					@include tile($x, $y);
				}
			}
		}
	}
	
	.shp-game-board__column-header {
		box-sizing: border-box;
		
		height: 144px;
		min-height: 144px;
		
		padding: 0px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		font: to-rem(14px) $monospace-fonts;
		white-space: nowrap;
		
		color: $white-text-color-1;
		
		> div {
			width: 32px;
			
			transform: translate(0px, 51px) rotate(315deg);
			
			> span {
				padding: 4px 8px;
			}
		}
	}
	
	.shp-game-board__row-header {
		box-sizing: border-box;
		
		width: 144px;
		height: 32px;
		min-width: 144px;
		
		padding: 4px 12px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		font: to-rem(14px) $monospace-fonts;
		white-space: nowrap;
		text-align: right;
		
		color: $white-text-color-1;
	}
}
