/// ShipShape  >  scss  >  main
/// 	Style the main game page.

@import 'colors';
@import 'typography';

@mixin tile($x, $y) {
	background-position: $x * -32px $y * -32px;
}

.shp-game {
	display: block;
	
	background: {
		color: #111111;
		image: url('/res/images/header-texture-white.png'), linear-gradient(-11.25deg, darken(#111111, 3.125%), lighten(#111111, 3.125%));
		repeat: repeat;
	};
	
	overflow: hidden;
	
	body {
		display: grid;
		position: absolute;
		top: 0px;
		left: 0px;
		
		width: 100vw;
		height: 100vh;
		
		text-align: center;
		
		overflow: scroll;
		
		.shp-game__scrollbox {
			position: relative;
			
			margin: auto;
		}
		
		&.pushed {
			cursor: grab;
		}
	}
}

.shp-game-board {
	table-layout: fixed;
	
	width: auto;
	
	margin: 0px 144px 144px 0px;
	
	border-collapse: collapse;
	border-spacing: 0px;
	
	.shp-game--player-turn &.shp-game-board--player {
		display: none;
	}
	.shp-game--opponent-turn &.shp-game-board--opponent {
		display: none;
	}
	
	.shp-game-board__tile {
		@include tile(0, 5);
		
		box-sizing: border-box;
		position: relative;
		
		width: 32px;
		height: 32px;
		max-width: 32px;
		max-height: 32px;
		
		padding: 0px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		overflow: visible;
		
		line-height: 0px;
		
		background-image: url('/res/images/tileset.png');
		background-size: 320px;
		image-rendering: pixelated;
		
		@for $y from 0 through 9 {
			@for $x from 0 through 9 {
				&.shp-game-board__tile--#{$x}-#{$y} {
					@include tile($x, $y);
				}
			}
		}
		
		.shp-ship {
			position: absolute;
			top: 0px;
			left: 0px;
			
			opacity: 0.65;
			
			z-index: 1;
			pointer-events: none;
		}
	}
	
	.shp-game-board__column-header {
		box-sizing: border-box;
		
		height: 144px;
		min-height: 144px;
		
		padding: 0px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		font: to-rem(14px) $monospace-fonts;
		white-space: nowrap;
		
		color: $white-text-color-1;
		
		> div {
			width: 32px;
			
			transform: translate(0px, 51px) rotate(315deg);
			
			> span {
				margin: 4px 8px;
			}
		}
	}
	
	.shp-game-board__row-header {
		box-sizing: border-box;
		
		width: 144px;
		height: 32px;
		min-width: 144px;
		
		padding: 4px 12px;
		
		border: 0px hidden;
		border-radius: 0px;
		
		font: to-rem(14px) $monospace-fonts;
		white-space: nowrap;
		text-align: right;
		
		color: $white-text-color-1;
	}
}

.shp-game-ship-case {
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-sizing: content-box;
	
	min-height: 32px;
	
	padding: 16px;
	padding-top: 8px;
	margin: 0px;
	
	font-size: 0px;
	line-height: 0px;
	
	text-align: left;
	list-style: none;
	
	@media (max-width: 480px) {
		padding-right: 88px;
	}
	
	.shp-game--player-turn & {
		display: none;
	}
	
	.shp-ship {
		margin-top: 8px;
		margin-right: 8px;
	}
	
	.shp-game-ship-case__rotate-button {
		position: absolute;
		bottom: 16px;
		right: 16px;
		
		margin: 6px 0px -2px 0px;
		
		vertical-align: bottom;
		
		@media (max-width: 480px) {
			padding-right: 16px;
			
			font-size: 0px;
		}
	}
}

.shp-ship {
	display: inline-block;
	
	margin: 0px;
	padding: 0px;
	
	background-image: url('/res/images/ships.png');
	background-size: 320px;
	image-rendering: pixelated;
	
	&.shp-ship--facing-left, &.shp-ship--facing-right {
		height: 32px;
		
		&.shp-ship--patrolBoat { width:  64px; }
		&.shp-ship--destroyer  { width:  96px; }
		&.shp-ship--submarine  { width:  96px; }
		&.shp-ship--battleship { width: 128px; }
		&.shp-ship--carrier    { width: 160px; }
	}
	&.shp-ship--facing-up, &.shp-ship--facing-down {
		width: 32px;
		
		&.shp-ship--patrolBoat { height:  64px; }
		&.shp-ship--destroyer  { height:  96px; }
		&.shp-ship--submarine  { height:  96px; }
		&.shp-ship--battleship { height: 128px; }
		&.shp-ship--carrier    { height: 160px; }
	}
	
	&.shp-ship--patrolBoat {
		&.shp-ship--facing-up    { @include tile(0, 8); }
		&.shp-ship--facing-down  { @include tile(0, 0); }
		&.shp-ship--facing-left  { @include tile(8, 4); }
		&.shp-ship--facing-right { @include tile(5, 5); }
	}
	&.shp-ship--destroyer {
		&.shp-ship--facing-up    { @include tile(1, 7); }
		&.shp-ship--facing-down  { @include tile(1, 0); }
		&.shp-ship--facing-left  { @include tile(7, 3); }
		&.shp-ship--facing-right { @include tile(5, 6); }
	}
	&.shp-ship--submarine {
		&.shp-ship--facing-up    { @include tile(2, 7); }
		&.shp-ship--facing-down  { @include tile(2, 0); }
		&.shp-ship--facing-left  { @include tile(7, 2); }
		&.shp-ship--facing-right { @include tile(5, 7); }
	}
	&.shp-ship--battleship {
		&.shp-ship--facing-up    { @include tile(3, 6); }
		&.shp-ship--facing-down  { @include tile(3, 0); }
		&.shp-ship--facing-left  { @include tile(6, 1); }
		&.shp-ship--facing-right { @include tile(5, 8); }
	}
	&.shp-ship--carrier {
		&.shp-ship--facing-up    { @include tile(4, 5); }
		&.shp-ship--facing-down  { @include tile(4, 0); }
		&.shp-ship--facing-left  { @include tile(5, 0); }
		&.shp-ship--facing-right { @include tile(5, 9); }
	}
}

.draggable-source--is-dragging, .draggable--over {
	opacity: 0.65;
}
.draggable-mirror {
	opacity: 0.00;
}

.shp-game .shp-game-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 64px;
	
	text-align: center;
	
	.shp-game-header__logo {
		float: left;
		
		width: 128px;
		
		font: bold to-rem(24px) $logo-text-fonts;
		line-height: 24px;
		text-align: left;
		
		color: $white-text-color-1;
	}
	
	.shp-game-header__status {
		font: to-rem(14px) $monospace-fonts;
		line-height: 24px;
		
		color: $white-text-color-1;
	}
	
	.shp-game-header__id {
		float: right;
		
		width: 128px;
		
		font: to-rem(20px) $monospace-fonts;
		line-height: 24px;
		text-align: right;
		
		color: $white-text-color-1;
	}
}

.shp-game .shp-game-targeting {
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-sizing: content-box;
	
	min-height: 32px;
	
	padding: 16px;
	margin: 0px;
	
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	
	@at-root .shp-game--opponent-turn .shp-game-targeting {
		display: none;
	}
	
	#shp-game-targeting__input {
		display: block;
		
		font: to-rem(32px) $monospace-fonts;
		
		color: $white-text-color-1;
	}
	
	.input-field label {
		font-family: $monospace-fonts;
		
		color: $white-text-color-3;
	}
	.input-field input[type='text']:focus + label {
		font-family: $monospace-fonts;
		
		color: $white-text-color-1;
	}
	.input-field input[type='text'] {
		border-bottom: 1px solid $white-divider-color;
	}
	.input-field input[type='text']:focus {
		border-bottom: 1px solid $white-text-color-1;
		box-shadow: 0 1px 0 0 $white-text-color-1;
	}
	.input-field .prefix.active {
		color: $white-text-color-1;
	}
	
}

.shp-game-explosion {
	display: block;
	position: absolute;
	top: 144px;
	left: 144px;
	
	width: 32px;
	height: 32px;
	
	background-image: url('/res/images/explosion.png');
	background-size: 224px 32px;
	background-position: 0px 0px;
	image-rendering: pixelated;
	
	animation: explosion 600ms steps(6);
	animation-fill-mode: forwards;
}

@keyframes explosion {
	100% { background-position: -192px 0px; };
}
