/// ShipShape -> res -> scss -> main.scss
/// 	Import the other SCSS partials to create one main file.  Uses the
/// 	'node-sass-import-once' importer to import only once.

@import 'colors';
@import 'typography';


html {
	background: {
		color: #E0E0E0;
		image: url('/res/images/background.png');
		repeat: repeat;
	};
	min-height: 100vh;

	body {
		margin: 0px;
	}
}

