/// ShipShape  >  scss  >  main
/// 	Styles parts of the webpage that are either not part of a specific
/// 	component or that are part of a very small component.

@import 'colors';
@import 'typography';

// Import MaterializeCSS.
$secondary-color: $accent-color;
$success-color: $accent-color;
$dropdown-color: $black-text-color-1;
$font-stack: $body-text-fonts;
@import 'materialize/materialize';


html {
	box-sizing: content-box;
	background: {
		color: #E0E0E0;
		image: url('/res/images/background.png');
		repeat: repeat;
	};
	min-height: 100vh;
	body {
		margin: 0px;
	}
}

.shp-content {
	margin: 0px 24px 24px;
	@media (min-width: 840px) {
		margin: 0px 48px 24px;
	}
	@media (max-width: 360px) {
		margin: 0px 0px 24px;
	}
}

.shp-navigation {
	margin: -10px 0px;
}

.shp-game-new__multiplayer-mode-description {
	margin-bottom: 0px;
}

#shp-game-new__map-id-input, #shp-game-join__game-id-input {
	position: relative;
	z-index: 1;
}

#shp-game-new__map-id-persistent-placeholder, #shp-game-join__game-id-persistent-placeholder {
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 0px;
	z-index: 0;
	
	font: 16px $monospace-fonts;
	color: #9E9E9E;
}

.shp--body-text-fonts {
	font-family: $body-text-fonts;
}
.shp--monospace-fonts {
	font-family: $monospace-fonts;
}
.shp--logo-text-fonts {
	font-family: $logo-text-fonts;
}

.shp--error {
	color: $error-color;
}
.shp-warning {
	color: $warning-color;
}

::selection {
	color: inherit;
	background-color: lighten($accent-color, 50%);
}
