/// ShipShape  >  scss  >  maps
/// 	Style the maps list page.

@import 'colors';
@import 'easing';
@import 'elevation';
@import 'typography';

.shp-card.shp-maps {
	margin-bottom: 68px;
}

.shp-map {
	position: relative;
	
	.shp-map__image {
		display: block;
		
		background-color: #F5F5F5;
		width: 100%;
		padding-top: (9 / 16) * 100%;
		background-size: cover;
	}

	.shp-map__name {
		display: inline-block;
		
		font: bold to-rem(16px) $body-text-fonts;
		margin: 20px 0px 8px;
	}
	.shp-map__id {
		display: inline-block;
		position: absolute;
		right: 0px;
		
		font: to-rem(16px) $monospace-fonts;
		text-transform: uppercase;
	}
	.shp-map__description {
		margin: 0px;
	}
}

.shp-map-create-button-container {
	position: fixed;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	margin: 0px 24px 16px;
	@media (min-width: 840px) {
		margin: 0px 48px 16px;
	}
	
	text-align: right;
	
	pointer-events: none;
	
	.shp-map-create-button {
		display: inline-block;
		
		pointer-events: auto;
	}
}

.shp-map-editor {
	.shp-map-editor__scrollbox {
		overflow-x: auto;
		overflow-y: hidden;

		position: relative;
		
		text-align: center;
		white-space: nowrap;
		
		.shp-map-editor__board-container {
			display: inline-block;

			.shp-map-editor__board {
				display: inline-table;

				margin-bottom: 0px;
			}
			
			.shp-game-board__column-header, .shp-game-board__row-header {
				color: $black-text-color-1;
			}

			.shp-map-editor__tile {
				outline: none;

				transition: box-shadow 150ms $standard, opacity 150ms $standard;
				
				opacity: 1;

				&#shp-map-editor__tile--selected {
					z-index: 2;

					box-shadow: inset 0px 0px 0px 2px $accent-color, 0px 0px 8px 0px $accent-color;

					transition: box-shadow 75ms $standard, opacity 150ms $standard;
				}

				&:not([data-targeting]), &[data-targeting=""] {
					opacity: 0.75;
				}
			}
		}

		.shp-map-editor__column-resize-buttons {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;

			position: absolute;
			
			height: 100%;

			margin-left: -138px;
			padding: 2px;

			.shp-map-editor__resize-button {
				margin: 2px;
			}
		}

		.shp-map-editor__row-resize-buttons {
			display: flex;
			flex-direction: row;
			justify-content: center;

			margin-top: 6px;
			margin-bottom: 86px;
			padding: 2px;

			.shp-map-editor__resize-button {
				margin: 2px;
			}
		}

		#shp-map-editor__targeting-tooltip {
			font-family: $monospace-fonts;

			#shp-map-editor__tooltip-editbox {
				min-width: 48px;
			}
		}
	}
}

.shp-map-ships {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.shp-map-ship {
	margin: 0px 16px;

	line-height: 32px;

	.shp-map-ship__ship {
		vertical-align: bottom;
	}
}
