/// ShipShape  >  scss  >  maps
/// 	Style the maps list page.

@import 'typography';


.shp-map {
	position: relative;
	
	.shp-map__image {
		display: block;
		
		background-color: #F5F5F5;
		width: 100%;
		padding-top: (9 / 16) * 100%;
		background-size: cover;
	}

	.shp-map__name {
		display: inline-block;
		
		font: bold to-rem(16px) $body-text-fonts;
		margin: 20px 0px 8px;
	}
	.shp-map__id {
		display: inline-block;
		position: absolute;
		right: 0px;
		
		font: to-rem(16px) $monospace-fonts;
		text-transform: uppercase;
	}
	.shp-map__description {
		margin: 0px;
	}
}
