@import 'colors';
@import 'easing';
@import 'typography';

.shp-tooltip {
    position: absolute;
    // The tooltip will be positioned through JavaScript.

    text-align: center;
    
    font-size: to-rem(12px);
    color: #ffffff;
    
    opacity: 0;
    visibility: hidden;

    transition: opacity 150ms $accelerate, visibility 150ms $accelerate;

    &.shp-tooltip--visible {
        opacity: 1;
        visibility: visible;

        transition: opacity 150ms $decelerate, visibility 150ms $decelerate;
    }

    .shp-tooltip__inner {
        min-width: 48px;

        padding: 4px 8px;

        border-radius: 4px;

        background-color: $black-text-color-1;
    }
}
