<$# ShipShape  >  views  >  footer                                           $> 
<$# 	Injected after all other views.                                      $>

			<$# Content goes here.                                           $>
			
		</main>
	</body>
</html>
