<$# ShipShape  >  views  >  header                                            $>
<$# 	Injected before all other views.                                      $>

<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />

		<$ if (typeof subtitle != 'undefined') { $>
			<title>ShipShape - <$= title $> - <$= subtitle $></title>
		<$ } else { $>
			<title>ShipShape - <$= title $></title>
		<$ } $>
		<meta name='author' content='ARM32' />

		<$# Include some fonts from Google Fonts.                             $>
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700|Space+Mono|Work+Sans:400,600' />
		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons' />
		
		<$# Include rippleJS for the Material Design ripple effect.           $>
		<script src='https://cdn.rawgit.com/samthor/rippleJS/v1.0.2/ripple.min.js' async></script>
		
		<$# Include anime.js for JavaScript animations.                       $>
		<script src='https://cdn.rawgit.com/juliangarnier/anime/v2.2.0/anime.min.js' defer></script>
		
		<$# Include Materialize for form inputs. $>
	    <script src="/res/materialize.min.js" defer></script>
	    
	    <$# Include only the grid component of Material Design Lite (for      $>
	    <$# layout obviously).                                                $>
	    <link rel='stylesheet' href='/res/mdl-only-grid.css' />
        
		<$# Include CSS and JS.                                               $>
		<link rel='stylesheet' href='/res/index.css' />
		<script src='/res/index.js' defer></script>
	</head>
	<body>
		<header class='shp-header'>
			<div class='shp-header__row shp-header__row--account'>
			</div>
			<div class='shp-header__row shp-header__row--logo'>
				<h1 class='shp-logo'>ShipShape</h1>
			</div>
			<div class='shp-header__row shp-header__row--navigation'>
				<div class='shp-navigation shp-navigation--horizontal'>
					<div class='shp-button-set'>
						<$- helpers.navigationLink("New game", '/game/new', { type: 'contained', raised: true, icon: 'play_arrow', classes: [ 'shp-button-set__button' ] }); $>
						<$- helpers.navigationLink("Join game", '/game/join', { type: 'outlined', light: true, icon: 'gamepad', classes: [ 'shp-button-set__button' ] }); $>
						<$- helpers.navigationLink("Maps", '/maps', { type: 'outlined', light: true, icon: 'map', classes: [ 'shp-button-set__button' ] }); $>
						<$- helpers.navigationLink("Credits", '/credits', { type: 'outlined', light: true, classes: [ 'shp-button-set__button' ] }); $>
					</div>
				</div>
			</div>
			<div class='shp-header__row shp-header__row--under'></div>
		</header>
		<main id='shp-content' class='shp-content'>

			<$# Content goes here.                                            $>

